{% extends "base.html" %}
{% load i18n %}

{% block "title" %}{% trans "Login" %} | {{ block.super }}{% endblock %}

{% block extrajs %}
    <script>
        $(function(){            
            $('div.content').addClass('login')
            $('.breadcrumb').hide();
        });
    </script>
    {% if request.user.is_authenticated %}
        <script>window.location = "{% url 'main.views.dashboard' %}"</script>
    {% endif %}
{% endblock %}

{% block top %}{% endblock %}


{% block breadcrumb %}{% endblock %}
{% block content %}

    <div id="loginForm">
        <div class="row">                        
            <div class="logo" id="logo">
                <h1><a href="" title="{% trans "BIREME Accounts" %}"><span>{% trans "BIREME Accounts" %}</span></a></h1>
            </div>
        </div>

        <form class="form-signin" action="{% url 'django.contrib.auth.views.password_reset' %}" method="post" name="login">
            {% csrf_token %}
            <h2 class="form-signin-heading">{% trans "Reset Password" %}</h2>

            {{ form }}

             <br>
            <button class="btn btn-large btn-primary" type="submit">{% trans "Submit" %}</button>
        </form>
    </div> <!-- /#loginForm -->

{% endblock %}

{% block footer %}{% endblock %}