services:
  accounts:
    container_name: accounts
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env.local
    volumes:
      - .:/app
    ports:
      - ${APP_PORT}:8000
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
