services:
  accounts:
    container_name: accounts
    build:
      context: .
      target: dev
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./app:/app
    ports:
      - ${APP_PORT}:8000
    command: uv run manage.py runserver 0.0.0.0:8000
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
    external: true
