{% if alert or messages %}
<script>
    $(function(){
        $('.alert').alert();
        setTimeout(function() {
            $('.box-alerts').fadeOut('slow');
        }, 5000);
    });
</script>

<div class='box-alerts'>
    {% if alert %}
    <div class="alert {{ alerttype }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ alert }}
    </div>
    {% endif %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
