{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit Service" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'main:services' %}">{% trans "Services" %}</a> <span class="divider">/</span></li>
    {% if is_new %}<li>{% trans "New Service" %}</li>
    {% else %}<li>{% trans "Edit Service" %}</li>{% endif %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content %}
<div class='header'>
    <h2><i class='icon-sitemap'></i> {% if is_new %} {% trans "New Service" %}{% else %}{% trans "Edit Service" %}{% endif %}</h2>
</div>

<div class='body'>

    <form method="POST">{% csrf_token %}
        <fieldset>
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>{% trans "Roles" %}</legend>
            <div class="field">
                <ul>
                <!-- associate roles to the service -->
                {% for role in roles %}
                    <li><input name="roles_associated" value="{{ role.id }}" type="checkbox" id="{{ role.id }}"
                    {% for service_role in service_roles %}
                        {% if service_role.role == role %}checked="true"{% endif %}
                    {% endfor %}
                        ><label for="{{ role.id }}"> {{ role.name }}</label></li>
                {% endfor %}
                </ul>
            </div>
        </fieldset>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Submit" %}</button>
        </div>
    </form>

</div>
{% endblock %}