{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Profile" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'registration.views.change_profile' %}">{% trans "Your Profile" %}</a> <span class="divider">/</span></li>
    <li>{% trans "Change Profile" %}</li>
{% endblock %}

{% block content %}
<div class='header'>
    <h2>
        <i class='icon-globe'></i> {% trans "Edit Your Profile" %} 
        {% if user.is_superuser %}
                <small>(superuser)</small>
        {% else %}
            {% if user.profile.type == "basic" %}
                <small>(normal user)</small>
            {% else %}
                <small>(advanced user)</small>
            {% endif %}
        {% endif %}
    </h2>

    <div class='pull-right'>
        <a href='{% url 'django.contrib.auth.views.password_change' %}' class='btn' title="{% trans "Change Password" %}">{% trans "Change Password" %}</a>
    </div>
</div>

<? include 'help.php' ?>

<div class='body'>
    <form method="POST">{% csrf_token %}
        <fieldset>                                
            {{ form }}
        </fieldset>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Submit" %}</button>
        </div>
    </form>
</div>  
{% endblock %}