{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'registration.views.change_profile' %}">{% trans "Your Profile" %}</a> <span class="divider">/</span></li>
    <li>{% trans "Change Password" %}</li>
{% endblock %}

{% block content %}
<div class='header'>
    <h2><i class='icon-globe'></i> {% trans "Change password" %}</h2>
</div>

<div class='body'>
    <form method="POST">{% csrf_token %}
        <fieldset>                                
            {{ form }}
        </fieldset>

        <div class="control-panel form-submit">
            <button class="btn btn-primary btn-large">{% trans "Submit" %}</button>
        </div>
    </form>
</div>  
{% endblock %}