{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit" %} {{ user }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'main.views.users' %}">{% trans "Users" %}</a> <span class="divider">/</span></li>
    <li>{% trans "Edit User" %}</li>
{% endblock %}

{% block extrajs %}
    <script>
        $(function(){

            var hash = window.location.hash,
            hashPart=hash.split('!')[1],
            activeTab=$('ul.nav a[href="#' + hashPart + '"]');
            activeTab && activeTab.tab('show');
             
            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                window.location.hash = '#!'+$(this).attr('href').split('#')[1];
            });

            // make checkbox infiter in labels
            fields = ['id_is_active', 'id_is_superuser'];
            for(field in fields) {
                var field = fields[field];
                var label = "label[for="+field+"]";
                
                $(label).html(" " + $(label).html());
                $("#" + field).prependTo(label);
            }

            // ajax that check and uncheck roles in users
            $(".checkbox_role").click(function(){
                var service = $(this).attr('data-service');
                var role = $(this).attr('data-role');
                var checked = false;
                if($(this).is(':checked')) {
                    var checked = true;
                }

                $.ajax({
                    type: "GET",
                    url: "{% url 'main.views.change_user_role_service' %}",
                    data: { service: service, role: role, checked: checked, user: "{{ user.id }}" }
                }).done(function(result) {
                    if(result === "0") {
                        alert("{% trans 'Error' %}");
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
<!--  header -->
<div class='header'>
    <h2><i class='icon-group'></i> {% trans "Edit User" %}</h2>
</div>

<div class='body'>

    {% if not is_new %}
    <ul class="nav nav-tabs" id="tab">
        <li class="active"><a href="#tab-data" data-toggle="tab">Data</a></li>
        <li><a href="#tab-permissions" data-toggle="tab">Permissions</a></li>
    </ul>
    {% endif %}

    <div class="tab-content">
        <div id="tab-data" class='tab-pane active'>
            <form method="POST">{% csrf_token %}

                <fieldset>                                
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}
                </fieldset>

                <div class="control-panel form-submit">
                    <button class="btn btn-primary btn-large">Submit</button>
                </div>
            </form>
        </div>
        <div id="tab-permissions" class='tab-pane'>
            
            <ul>
                {% for service in services %}
                    <li>
                        <h3>{{ service.name }} <small>{{ service.acronym }}</small></h3>
                        <div class="checkboxes">
                            {% for role in service.roles.all %}

                                <!-- roles do usuário -->
                                <input type="checkbox" class="checkbox_role" data-role="{{ role.id }}" data-service="{{ service.id }}"
                                {% for user_role in user_roles %}
                                    {% if user_role.role_service.service == service and user_role.role_service.role == role %}checked="true"{% endif %}
                                {% endfor %}
                                value="{{ role.name }}"> {{ role.description }}
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>                    
    </div>
</div>
{% endblock %}