{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Users" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <li>{% trans "Users" %}</li>
{% endblock %}

{% block content %}

<form name="actions">
    <input type="hidden" name="orderby" value="{{ actions.orderby }}">
    <input type="hidden" name="order" value="{{ actions.order }}">
    <input type="hidden" name="page" value="{{ actions.page }}">
    <input type='hidden' name="s"  value="{{ actions.s }}">
    <input type='hidden' name="cc" value="{{ actions.cc }}">
</form>

<!--  header -->
<div class='header'>
    <h2><i class='icon-group'></i> {% trans "Users" %}</h2>

    <div class='pull-right'>
        <a href="{% url 'main:new_user' %}" class='btn btn-primary' title="{% trans "New User" %}"><i class='icon-file'></i> {% trans "New User" %}</a>
    </div>
</div>

<div class='body'>
    {% if actions.s %}
        <div>
            {% trans "Search" %}: <strong>{{ actions.s }}</strong>
            <a href="{% url 'main:users' %}">[{% trans "clear" %}]</a>
        </div>
    {% endif %}

    <div class='pull-right'>
        <div class="input-append">
            <form name="search" onSubmit="return search();">
                {% if cooperative_centers|length > 1 %}
                    <select name="cc">
                    {% if user.is_superuser %}
                        <option value="">{% trans "Cooperative Center" %}</option>
                    {% endif %}
                    {% for center in cooperative_centers %}
                        <option value="{{ center.pk }}" {% if actions.cc == center.pk|stringformat:"s" %}selected{% endif %}>{{ center.code }}</option>
                    {% endfor %}
                    </select>
                    &nbsp;
                    &nbsp;
                {% endif %}
                <input type='text' name="s"  value="{{ actions.s }}" placeholder="{% trans "username or e-mail" %}">
                <button class="btn" type="submit"><i class='icon-search'></i></button>
            </form>
        </div>
    </div>

    <table class='table'>
        <thead>
            <th><a href="javascript:orderby('id');" id="id_id">#</a></th>
            <th><a href="javascript:orderby('username');" id="id_username">{% trans "Name" %}</a></th>
            <th><a href="javascript:orderby('email');" id="id_email">{% trans "Email" %}</a></th>
            <th><a href="javascript:orderby('services');" id="id_email">{% trans "Services" %}</a></th>
            <th><a href="javascript:orderby('is_active');" id="id_is_active">{% trans "Active?" %}</a></th>
            {% if user.is_superuser or show_users_cc %}
                <th>{% trans "Cooperative Center" %}</th>
            {% endif %}
            <th>{% trans "Actions" %}</th>
        </thead>
        <tbody>
            {% for appuser in users %}
                <tr>
                    <td>{{ appuser.id }}</td>
                    <td>{{ appuser }}</td>
                    <td>{{ appuser.email }}</td>
                    <td>{% for service, roles in appuser.profile.get_role_services.items %}

                        <span title="{% for role in roles %}{{ role }}{% if not forloop.last %}, {% endif %}{% endfor %}">{{ service }}</span>
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}</td>
                    <td>{% if appuser.is_active %}<i class='icon-ok'></i>{% else %}<i class='icon-minus-sign'></i>{% endif %}</td>

                    {% if user.is_superuser or show_users_cc %}
                        <td><span title="{{ appuser.profile.cooperative_center.institution }}">{{ appuser.profile.cooperative_center.code }}</span></th>
                    {% endif %}

                    <td><a href="{% url 'main:edit_user' appuser.id %}" class='btn btn-mini' title="{% trans 'Edit' %}"><i class='icon-pencil'></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination pull-right">
        <ul>
        {% if users.has_previous %}
            <li>
                <a href="?page={{ users.previous_page_number }}&s={{ actions.s }}&orderby={{ actions.orderby }}&order={{ actions.order }}?&cc={{ actions.cc }}" class="">Anterior</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="">Anterior</a>
            </li>
        {% endif %}

        {% for page in pages %}
        <li {% if page == users.number %}class="active"{% endif %}>
            <a href="?page={{ page }}&s={{ actions.s }}&orderby={{ actions.orderby }}&order={{ actions.order }}?&cc={{ actions.cc }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if users.has_next %}
            <li>
                <a href="?page={{ users.next_page_number }}&s={{ actions.s }}&orderby={{ actions.orderby }}&order={{ actions.order }}?&cc={{ actions.cc }}">Próxima</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="">Próxima</a>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}